.fullscreen {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
}

h1 {
    text-align: center;
    color: white;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    width: 420px;
    background-color: #d0d0d0;
    border-radius: 6px;
}

.flexed {
    display: flex;
    align-items: center;
    justify-content: space-around;
}